doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //- script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src='/javascripts/Chart.bundle.min.js')
    body
        block content
